force-app/main/default/flows/After_Hours_New_Job_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_SJ</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Call_Center_New_Job_Notification_SJ</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_SJ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Phoenix</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Call_Center_New_Job_Notification_Phoenix</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Phoenix</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Tucson</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Call_Center_New_Job_Notification_Tucson</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Tucson</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_15_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>1500</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Dallas</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Call_Center_New_Job_Notification_Dallas</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Dallas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_17_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>1700</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Chicago</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Call_Center_New_Job_Notification_Chicago</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Chicago</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>1900</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_LA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Call_Center_New_Job_Notification_SD</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_LA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Sacramento</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Call_Center_New_Job_Notification_Sacramento</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Sacramento</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_21_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>2100</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Las_Vegas</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Call_Center_New_Job_Notification_Las_Vegas</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Las_Vegas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_23_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>2300</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Florida</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Call_Center_New_Job_Notification_Florida</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Florida</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_25_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>2500</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Houston</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Call_Center_New_Job_Notification_Houston</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Houston</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_27_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>2700</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Denver</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Call_Center_New_Job_Notification_Denver</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Denver</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_29_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>2900</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Flagstaff</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>Call_Center_New_Job_Notification_Flagstaff</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Flagstaff</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_31_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>3100</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_New_England</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Call_Center_New_Job_Notification_New_England</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_New_England</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_33_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>3300</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Philly</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_35_A1</name>
        <label>Call_Center_New_Job_Notification_Philly</label>
        <locationX>3500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Philly</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_35_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_35_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>3500</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Seattle</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>Call_Center_New_Job_Notification_Seattle</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Seattle</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_37_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_37_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>3700</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_SD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Call_Center_New_Job_Notification_SD</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_SD</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Riverside</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Call_Center_New_Job_Notification_Riverside</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Riverside</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_Orange</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Call_Center_New_Job_Notification_Orange</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_Orange</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>After Hour Email Alert</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Call_Center_New_Job_Notification_SF</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Call_Center_New_Job_Notification_SF</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Call_Center_New_Job_Notification_SF</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>After_Hour_Lead_entry_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A2</name>
        <label>After Hour Lead Entry Alert</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.After_Hour_Lead_entry_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Los Angeles</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>San Jose</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Phoenix</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Tucson</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Dallas</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Chicago</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>San Diego</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Sacramento</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Las Vegas</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Florida</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Houston</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>Denver</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>Flagstaff</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision34</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>New England</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision34</name>
        <label>myDecision34</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_35</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>Philadelphia</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>Seattle</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Riverside</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Orange</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>San Francisco</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>PD and PM will be creating jobs from mobile.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5d2&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5d2&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5e0&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5e0&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5dM&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dM&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5e5&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5e5&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5ci&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5ci&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cY&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cY&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5d2&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_old.Office2__c} ,&quot;a1O70000000X5d2&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5dg&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dg&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cs&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cs&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cn&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cn&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000TCI3&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000TCI3&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O700000037iuL&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O700000037iuL&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5dq&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dq&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000003kFSo&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000003kFSo&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5dC&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dC&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000XM4b&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_35</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000XM4b&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000XM4l&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000XM4l&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5dW&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dW&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cd&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cd&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5dv&quot;) &amp;&amp; 

($Profile.Name = &quot;Project Director&quot; || $Profile.Name = &quot;Operations Manager&quot; || $Profile.Name = &quot;Project Manager (formerly Superintendent)&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dv&quot;) &amp;&amp; 

({!$Profile.Name} = &quot;Project Director&quot; || {!$Profile.Name} = &quot;Operations Manager&quot; || {!$Profile.Name} = &quot;Project Manager (formerly Superintendent)&quot;)</expression>
    </formulas>
    <interviewLabel>After_Hours_New_Job_Alert-5_InterviewLabel</interviewLabel>
    <label>After Hours New Job Alert</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
