force-app/main/default/flows/BM_pop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>150</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>General Branch Manager population</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Environmental Branch Manager</label>
        </rules>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Structure/Contents Branch Manager</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([Opportunity].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([Opportunity].Office2__c ))

), 

NOT(CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cd&quot;))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 

NOT(CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cd&quot;))

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([Opportunity].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([Opportunity].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([Opportunity].Office2__c ))

), 

CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cd&quot;),

OR(
ISPICKVAL ([Opportunity].Division__c, &quot;Biohazard&quot;),
ISPICKVAL ([Opportunity].Division__c, &quot;Lead&quot;), 
ISPICKVAL ([Opportunity].Division__c, &quot;Microbial&quot;),
ISPICKVAL ([Opportunity].Division__c, &quot;Asbestos&quot;),
ISPICKVAL ([Opportunity].Division__c, &quot;Demolition&quot;),
ISPICKVAL ([Opportunity].Division__c, &quot;Health Services&quot;)
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 

CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cd&quot;),

OR(
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Biohazard&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Lead&quot;), 
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Microbial&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Asbestos&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Demolition&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Health Services&quot;)
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([Opportunity].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([Opportunity].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([Opportunity].Office2__c ))

), 
CONTAINS([Opportunity].Office2__c ,&quot;a1O70000000X5cd&quot;)
,
OR(
ISPICKVAL([Opportunity].Division__c, &quot;Catastrophes&quot;),
ISPICKVAL([Opportunity].Division__c, &quot;Technical Svces&quot;),
ISPICKVAL([Opportunity].Division__c, &quot;Consulting&quot;),
ISPICKVAL([Opportunity].Division__c, &quot;Marketing&quot;),
ISPICKVAL([Opportunity].Division__c, &quot;Construction&quot;),
ISPICKVAL([Opportunity].Division__c, &quot;Contents&quot;),
ISPICKVAL([Opportunity].Division__c, &quot;Emergency Svces&quot;)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 
CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cd&quot;)
,
OR(
ISPICKVAL({!myVariable_current.Division__c}, &quot;Catastrophes&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Technical Svces&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Consulting&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Marketing&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Construction&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Contents&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Emergency Svces&quot;)
)
)</expression>
    </formulas>
    <interviewLabel>BM_pop-5_Opportunity</interviewLabel>
    <label>Branch Manager Population</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>General Branch Manager population</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Branch Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Env Branch Manager lookup population</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Branch Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Environmental_Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Structure/Contents lookup population</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Branch Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Structure_Contents_Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
