force-app/main/default/flows/Branch_Manager_Population_ATI_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>General Branch Manager population</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Environmental Branch Manager</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Structure/Contents Branch Manager</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c))

), 

NOT(CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5cdEAC&quot;)),

 ($Profile.Name &lt;&gt; &#39;Restricted Process Execution&#39;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}))

), 

NOT(CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cdEAC&quot;)),

 ({!$Profile.Name} &lt;&gt; &#39;Restricted Process Execution&#39;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 

CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5cdEAC&quot;),

OR(
ISPICKVAL ([ATI_Job__c].Division__c, &quot;Biohazard&quot;),
ISPICKVAL ([ATI_Job__c].Division__c, &quot;Lead&quot;), 
ISPICKVAL ([ATI_Job__c].Division__c, &quot;Microbial&quot;),
ISPICKVAL ([ATI_Job__c].Division__c, &quot;Asbestos&quot;),
ISPICKVAL ([ATI_Job__c].Division__c, &quot;Demolition&quot;),
ISPICKVAL ([ATI_Job__c].Division__c, &quot;Health Services&quot;)),

($Profile.Name &lt;&gt; &#39;Restricted Process Execution&#39;)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 

CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cdEAC&quot;),

OR(
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Biohazard&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Lead&quot;), 
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Microbial&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Asbestos&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Demolition&quot;),
ISPICKVAL ({!myVariable_current.Division__c}, &quot;Health Services&quot;)),

({!$Profile.Name} &lt;&gt; &#39;Restricted Process Execution&#39;)


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5cdEAC&quot;)
,
OR(
ISPICKVAL([ATI_Job__c].Division__c, &quot;Catastrophes&quot;),
ISPICKVAL([ATI_Job__c].Division__c, &quot;Technical Svces&quot;),
ISPICKVAL([ATI_Job__c].Division__c, &quot;Consulting&quot;),
ISPICKVAL([ATI_Job__c].Division__c, &quot;Marketing&quot;),
ISPICKVAL([ATI_Job__c].Division__c, &quot;Construction&quot;),
ISPICKVAL([ATI_Job__c].Division__c, &quot;Contents&quot;),
ISPICKVAL([ATI_Job__c].Division__c, &quot;Emergency Svces&quot;)
),

($Profile.Name &lt;&gt; &#39;Restricted Process Execution&#39;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 
CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5cdEAC&quot;)
,
OR(
ISPICKVAL({!myVariable_current.Division__c}, &quot;Catastrophes&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Technical Svces&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Consulting&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Marketing&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Construction&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Contents&quot;),
ISPICKVAL({!myVariable_current.Division__c}, &quot;Emergency Svces&quot;)
),

({!$Profile.Name} &lt;&gt; &#39;Restricted Process Execution&#39;)

)</expression>
    </formulas>
    <interviewLabel>Branch_Manager_Population_ATI_Job-5_InterviewLabel</interviewLabel>
    <label>Branch Manager Population ATI Job</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ATI_Job__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>General Branch Manager population</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Regional Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Env Branch Manager lookup population</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Regional Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Environmental_Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Structure/Contents lookup population</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Regional Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Structure_Contents_Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
