force-app/main/default/flows/Check_Existing_SMS_History_by_Opp_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>SMS_History_Not_Found</name>
        <label>SMS History Not Found</label>
        <locationX>249</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExistingSMSHistoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Trigger_Handler</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_History_Not_Found_0</name>
        <label>SMS History Not Found</label>
        <locationX>512</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExistingSMSHistoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Trigger_Handler_0</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_or_Question</name>
        <label>Template or Question</label>
        <locationX>388</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSMSTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_History</targetReference>
            </connector>
            <label>Template</label>
        </rules>
        <rules>
            <name>Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQuestionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_History_0</targetReference>
            </connector>
            <label>Question</label>
        </rules>
    </decisions>
    <interviewLabel>Check Existing SMS History by Opp Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Existing SMS History by Opp Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SMS_Trigger_Handler</name>
        <label>SMS Trigger Handler</label>
        <locationX>250</locationX>
        <locationY>427</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobileNumber__c</field>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template__c</field>
            <value>
                <elementReference>vSMSTemplateId</elementReference>
            </value>
        </inputAssignments>
        <object>Triggered_SMS_Handler__c</object>
    </recordCreates>
    <recordCreates>
        <name>SMS_Trigger_Handler_0</name>
        <label>SMS Trigger Handler</label>
        <locationX>514</locationX>
        <locationY>429</locationY>
        <inputAssignments>
            <field>MobileNumber__c</field>
            <value>
                <elementReference>vMobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template__c</field>
            <value>
                <elementReference>vQuestionId</elementReference>
            </value>
        </inputAssignments>
        <object>Triggered_SMS_Handler__c</object>
    </recordCreates>
    <recordLookups>
        <name>SMS_History</name>
        <label>SMS History</label>
        <locationX>247</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_History_Not_Found</targetReference>
        </connector>
        <filters>
            <field>ATI_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__SMS_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSMSTemplateId</elementReference>
            </value>
        </filters>
        <object>tdc_tsw__Message__c</object>
        <outputAssignments>
            <assignToReference>vExistingSMSHistoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SMS_History_0</name>
        <label>SMS History</label>
        <locationX>512</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_History_Not_Found_0</targetReference>
        </connector>
        <filters>
            <field>ATI_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQuestionId</elementReference>
            </value>
        </filters>
        <object>tdc_tsw__Message__c</object>
        <outputAssignments>
            <assignToReference>vExistingSMSHistoryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Template_or_Question</startElementReference>
    <status>Active</status>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExistingSMSHistoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuestionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSMSTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
