force-app/main/default/flows/New_Project_Manager_Population_2_ATI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Asbestos Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Contents Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>Microbial Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_pmetdec</targetReference>
            </connector>
            <label>Biohazard Divisions</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_pmetdec</targetReference>
            </connector>
            <label>Catastrophes Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_pmetdec</targetReference>
            </connector>
            <label>Consulting Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Lead Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_pmetdec</targetReference>
            </connector>
            <label>Technical Services Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_pmetdec</targetReference>
            </connector>
            <label>Marketing Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_pmetdec</targetReference>
            </connector>
            <label>SD Health Science</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_pmetdec</targetReference>
            </connector>
            <label>Construction</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Demolition Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Health Science Division</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Emergency Services Division</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_15_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_15_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_15_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_17_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_17_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_17_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_19_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_19_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_19_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_21_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_21_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_21_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_23_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_23_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_23_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_23_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_25_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_25_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_25_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_25_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_27_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_27_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_27_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_27_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This will populate the new project manager which will include the ops manager and superintendent</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Asbestos&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}  ))
), 

ISPICKVAL({!myVariable_current.Division__c} , &quot;Asbestos&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(
AND(
CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL([ATI_Job__c].Job_Class__c, &quot;Health Science&quot;)
)
),
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c )),
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Job_Class__c ))
), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Contents&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(
AND(
CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL({!myVariable_current.Job_Class__c}, &quot;Health Science&quot;)
)
),
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} )),
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Job_Class__c} ))
), 
ISPICKVAL({!myVariable_current.Division__c}, &quot;Contents&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(
AND(
CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL([ATI_Job__c].Job_Class__c, &quot;Health Science&quot;)
)
),
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c )),
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Job_Class__c ))
), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Contents&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(
AND(
CONTAINS({!myVariable_old.Office2__c} ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL({!myVariable_old.Job_Class__c}, &quot;Health Science&quot;)
)
),
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} )),
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Job_Class__c} ))
), 
ISPICKVAL({!myVariable_old.Division__c}, &quot;Contents&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c, &quot;Microbial&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))
), 

ISPICKVAL({!myVariable_current.Division__c}, &quot;Microbial&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c, &quot;Microbial&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))
), 

ISPICKVAL({!myVariable_old.Division__c}, &quot;Microbial&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
),

ISPICKVAL([ATI_Job__c].Division__c, &quot;Biohazard&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}  ))
),

ISPICKVAL({!myVariable_current.Division__c}, &quot;Biohazard&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
),

ISPICKVAL([ATI_Job__c].Division__c, &quot;Biohazard&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c}  ))
),

ISPICKVAL({!myVariable_old.Division__c}, &quot;Biohazard&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Catastrophes&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}  ))
), 
ISPICKVAL({!myVariable_current.Division__c}, &quot;Catastrophes&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Catastrophes&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c}  ))
), 
ISPICKVAL({!myVariable_old.Division__c}, &quot;Catastrophes&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Consulting&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}))

), 
ISPICKVAL({!myVariable_current.Division__c}, &quot;Consulting&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Consulting&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c}))

), 
ISPICKVAL({!myVariable_old.Division__c}, &quot;Consulting&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Asbestos&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c}  ))
), 

ISPICKVAL({!myVariable_old.Division__c} , &quot;Asbestos&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED( [ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Technical Svces&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED( {!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 
ISPICKVAL({!myVariable_current.Division__c}, &quot;Technical Svces&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED( [ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Technical Svces&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED( {!myVariable_old.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))

), 
ISPICKVAL({!myVariable_old.Division__c}, &quot;Technical Svces&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Marketing&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 
ISPICKVAL({!myVariable_current.Division__c}, &quot;Marketing&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Marketing&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))

), 
ISPICKVAL({!myVariable_old.Division__c}, &quot;Marketing&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c))
), 
CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL([ATI_Job__c].Job_Class__c , &quot;Health Science&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}))
), 
CONTAINS({!myVariable_current.Office2__c} ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL({!myVariable_current.Job_Class__c} , &quot;Health Science&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c))
), 
CONTAINS([ATI_Job__c].Office2__c ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL([ATI_Job__c].Job_Class__c , &quot;Health Science&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c}))
), 
CONTAINS({!myVariable_old.Office2__c} ,&quot;a1O70000000X5dq&quot;),
ISPICKVAL({!myVariable_old.Job_Class__c} , &quot;Health Science&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Construction&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))

), 
ISPICKVAL({!myVariable_current.Division__c}, &quot;Construction&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))

), 
ISPICKVAL([ATI_Job__c].Division__c, &quot;Construction&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))

), 
ISPICKVAL({!myVariable_old.Division__c}, &quot;Construction&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Lead&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c}  ))
), 

ISPICKVAL({!myVariable_current.Division__c} , &quot;Lead&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c  ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Lead&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}  ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c}  ))
), 

ISPICKVAL({!myVariable_old.Division__c} , &quot;Lead&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Demolition&quot;),


($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))
), 

ISPICKVAL({!myVariable_current.Division__c} , &quot;Demolition&quot;),


({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Demolition&quot;),


($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))
), 

ISPICKVAL({!myVariable_old.Division__c} , &quot;Demolition&quot;),


({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Health Services&quot;),


($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))
), 

ISPICKVAL({!myVariable_current.Division__c} , &quot;Health Services&quot;),


({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c , &quot;Health Services&quot;),


($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c}))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c} )), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))
), 

ISPICKVAL({!myVariable_old.Division__c} , &quot;Health Services&quot;),


({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c, &quot;Emergency Svces&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)


)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_current.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_current.Office2__c} ))
), 

ISPICKVAL({!myVariable_current.Division__c}, &quot;Emergency Svces&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL([ATI_Job__c].Office2__c ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Division__c)), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED([ATI_Job__c].Office2__c ))
), 

ISPICKVAL([ATI_Job__c].Division__c, &quot;Emergency Svces&quot;),

($Profile.Name &lt;&gt; &quot;Restricted Process Execution&quot;)


)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR( 
(ISNEW() &amp;&amp; NOT(ISNULL({!myVariable_old.Office2__c} ))), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Division__c})), 
(NOT(ISNEW()) &amp;&amp; ISCHANGED({!myVariable_old.Office2__c} ))
), 

ISPICKVAL({!myVariable_old.Division__c}, &quot;Emergency Svces&quot;),

({!$Profile.Name} &lt;&gt; &quot;Restricted Process Execution&quot;)


)</expression>
    </formulas>
    <interviewLabel>New_Project_Manager_Population_2_ATI-2_InterviewLabel</interviewLabel>
    <label>New Project Manager Population ATI</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ATI_Job__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Contents</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Contents_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Microbial</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Microbial_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Biohazard</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Biohazard_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Catastrophes</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Catastrophes_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Consulting</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Consulting_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Asbestos</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Asbestos_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Technical Services</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Technical_Services_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Marketing Division</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Marketing_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>SD Health Science</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <stringValue>00570000002EzAI</stringValue>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Construction</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Lead</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Lead_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Demolition</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Demolition_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Health Science</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Health_Science_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ATI_Job__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Emergency Services</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Project_Manager_new__c</field>
            <value>
                <elementReference>myVariable_current.Office2__r.Emergency_Services_Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
