force-app/main/default/flows/Project_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>903</locationX>
        <locationY>116</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ChicagoOffice</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_chatter_0</name>
        <label>Post to chatter_0</label>
        <locationX>899</locationX>
        <locationY>271</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ChicagoOffice_0</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_1</name>
        <label>Post To Chatter 1</label>
        <locationX>1075</locationX>
        <locationY>415</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CommentsWithChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_1_0</name>
        <label>Post To Chatter 1_0</label>
        <locationX>1077</locationX>
        <locationY>551</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CommentsWithChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Chicago</name>
        <label>Send Email to Chicago</label>
        <locationX>1383</locationX>
        <locationY>114</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>CHI-Admin@atirestoration.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Emailtext</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Chicago_0</name>
        <label>Send Email to Chicago 0</label>
        <locationX>1386</locationX>
        <locationY>268</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>CHI-Admin@atirestoration.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Emailtext</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>ChicagoOffice</name>
        <label>ChicagoOffice</label>
        <locationX>1048</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChicagoNameDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfficeName.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChicagoName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Program</targetReference>
            </connector>
            <label>ChicagoNameDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChicagoOffice_0</name>
        <label>ChicagoOffice</label>
        <locationX>1052</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChicagoNameDecision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfficeName.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChicagoName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Program_0_0</targetReference>
            </connector>
            <label>ChicagoNameDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Program</name>
        <label>Contains Program</label>
        <locationX>1204</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Programw</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Alacrity Consumer Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Alacrity REO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Alacrity Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - American Emergency Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - ASI Claims</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - BrightServ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - CC Consumer Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Code Blue Network</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Contractor Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Direct Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Direct Claims Management (DCMG)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - IMACC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Innovation Property</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Lionsbridge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - NEXXUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Sedgwick Consumer Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Sedgwick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Chicago</targetReference>
            </connector>
            <label>Contains Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Program_0_0</name>
        <label>Contains Program</label>
        <locationX>1201</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Programw_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Alacrity Consumer Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Alacrity REO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Alacrity Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - American Emergency Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - ASI Claims</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - BrightServ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - CC Consumer Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Code Blue Network</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Contractor Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Direct Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Direct Claims Management (DCMG)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - IMACC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Innovation Property</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Lionsbridge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - NEXXUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Sedgwick Consumer Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program - Sedgwick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Chicago_0</targetReference>
            </connector>
            <label>Contains Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estimated_Or_completion_date_Autofill</name>
        <label>Estimated Or completion date Autofill</label>
        <locationX>149</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>Questions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completion_Date_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CompletionDateStart.Completion_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions</targetReference>
            </connector>
            <label>Autofill using Estimated Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estimated_Or_completion_date_Autofill_0</name>
        <label>Estimated Or completion date Autofill</label>
        <locationX>713</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Post_to_chatter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completion_Date_is_blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CompletionDateStart.Completion_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_chatter</targetReference>
            </connector>
            <label>Autofill using Estimated Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estimated_Or_completion_date_Autofill_0_0</name>
        <label>Estimated Or completion date Autofill</label>
        <locationX>820</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Post_To_Chatter_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completion_Date_is_blank_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CompletionDateStart.Completion_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Chatter_1</targetReference>
            </connector>
            <label>Autofill using Estimated Date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MarketingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marketing_Type__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>priority1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yesorno1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Repairs_Needed__c</picklistField>
        <picklistObject>ATI_Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>yesorno2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Repairs_Needed__c</picklistField>
        <picklistObject>ATI_Job__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ChicagoName</name>
        <dataType>String</dataType>
        <expression>&quot;Chicago&quot;</expression>
    </formulas>
    <formulas>
        <name>MonicaName</name>
        <dataType>String</dataType>
        <expression>&quot;Monica Gaspar&quot;</expression>
    </formulas>
    <formulas>
        <name>OfficeNameSanDIego</name>
        <dataType>String</dataType>
        <expression>&quot;San Diego&quot;</expression>
    </formulas>
    <formulas>
        <name>User</name>
        <dataType>String</dataType>
        <expression>&quot;Susie Dizon&quot;</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Project Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>373</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>Estimated_Or_completion_date_Autofill_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Project note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Project Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>358</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>Estimated_Or_completion_date_Autofill_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Project note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Project Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetMonicaGaspar</name>
        <label>GetMonicaGaspar</label>
        <locationX>667</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estimated_Or_completion_date_Autofill_0_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MonicaName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>MonicaId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Job</name>
        <label>Job</label>
        <locationX>43</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Office</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ATI_Job__c</object>
        <outputAssignments>
            <assignToReference>CompletionDateStart.Completion_Date__c</assignToReference>
            <field>Completion_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</assignToReference>
            <field>Estimated_Completion_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JobName.Job_Name__c</assignToReference>
            <field>Job_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadSource.Lead_Source__c</assignToReference>
            <field>Lead_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OfficeCollection.Id</assignToReference>
            <field>Office2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PercentCompleteStart.Percent_Complete__c</assignToReference>
            <field>Percent_Complete__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Office</name>
        <label>Office</label>
        <locationX>47</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estimated_Or_completion_date_Autofill</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfficeCollection.Id</elementReference>
            </value>
        </filters>
        <object>Office__c</object>
        <outputAssignments>
            <assignToReference>OfficeName.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OfficeManager.Id</assignToReference>
            <field>Office_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Percentage_of_Job</name>
        <label>Update Percentage of Job</label>
        <locationX>354</locationX>
        <locationY>135</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percent_Complete__c</field>
            <value>
                <elementReference>firstanswer</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Percentage_of_Job_0</name>
        <label>Update Percentage of Job</label>
        <locationX>327</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percent_Complete__c</field>
            <value>
                <elementReference>firstanswer_0</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <screens>
        <name>Questions</name>
        <label>Questions</label>
        <locationX>162</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Percentage_of_Job</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Project Note Questions:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Question</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Percent of Job Complete: %&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>firstanswer</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PercentCompleteStart.Percent_Complete__c</elementReference>
            </defaultValue>
            <fieldText>First Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>secondQ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Work/trades started/completed since last week:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>secondAnswer</name>
            <dataType>String</dataType>
            <fieldText>Second Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Third</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Work to be started this week:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>third1</name>
            <dataType>String</dataType>
            <fieldText>Third Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fourth</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Estimated Completion Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fourth_Answer</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EstimatedCompletionDateStart.Estimated_Completion_Date__c</elementReference>
            </defaultValue>
            <fieldText>Fourth Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fifth</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Has Insured/Member Completed all selections? Y/N&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fifth1_Answer</name>
            <choiceReferences>Yesorno1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fifth Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sixth</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Potential Supplement? Y/N&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sixth_Answer</name>
            <choiceReferences>yesorno2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sixth Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seventh</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Repair Update Comments:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepairComments</name>
            <fieldText>RepairComments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_0</name>
        <label>Questions</label>
        <locationX>157</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Percentage_of_Job_0</targetReference>
        </connector>
        <fields>
            <name>Display_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Project Note Questions:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Question_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Percent of Job Complete: %&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>firstanswer_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PercentCompleteStart.Percent_Complete__c</elementReference>
            </defaultValue>
            <fieldText>First Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>secondQ_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Work/trades started/completed since last week:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>secondAnswer_0</name>
            <dataType>String</dataType>
            <fieldText>Second Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Third_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Work to be started this week:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>third1_0</name>
            <dataType>String</dataType>
            <fieldText>Third Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fourth_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Estimated Completion Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fourth_Answer_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CompletionDateStart.Completion_Date__c</elementReference>
            </defaultValue>
            <fieldText>Fourth Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fifth_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Has Insured/Member Completed all selections? Y/N&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fifth1_Answer_0</name>
            <choiceReferences>Yesorno1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fifth Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sixth_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Potential Supplement? Y/N&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sixth_Answer_0</name>
            <choiceReferences>yesorno2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sixth Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seventh_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Repair Update Comments:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepairComments0</name>
            <fieldText>RepairComments0</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Comments</name>
        <text>Project Note Flow :


Percent of Job Complete: {!firstanswer}%

Work/Trades started/completed since last week: {!secondAnswer} 

Work to be started this week: {!third1} 

Estimated completion date: {!Fourth_Answer}

Has Insured/Member completed all selections? Y/N : {!Fifth1_Answer}

Potential Supplement? Y/N: {!Sixth_Answer}

Repair Update Comments: {!RepairComments}</text>
    </textTemplates>
    <textTemplates>
        <name>Comments_0</name>
        <text>Project Note Flow :


Percent of Job Complete: {!firstanswer_0}%

Work/Trades started/completed since last week: {!secondAnswer_0} 

Work to be started this week: {!third1_0} 

Estimated completion date: {!Fourth_Answer_0}

Has Insured/Member completed all selections? Y/N : {!Fifth1_Answer_0}

Potential Supplement? Y/N: {!Sixth_Answer_0}

Repair Update Comments: {!RepairComments0}</text>
    </textTemplates>
    <textTemplates>
        <name>CommentsWithChatter</name>
        <text>@[{!MonicaId.Id}]
Percent of Job Complete: {!firstanswer}%

Work/Trades started/completed since last week: {!secondAnswer} 

Work to be started this week: {!third1} 

Estimated completion date: {!Fourth_Answer}

Has Insured/Member completed all selections? Y/N : {!Fifth1_Answer}

Potential Supplement? Y/N: {!Sixth_Answer}

Repair Update Comments: {!RepairComments}</text>
    </textTemplates>
    <textTemplates>
        <name>CommentsWithChatter_0</name>
        <text>@[{!MonicaId.Id}]
Percent of Job Complete: {!firstanswer_0}%

Work/Trades started/completed since last week: {!secondAnswer_0} 

Work to be started this week: {!third1_0} 

Estimated completion date: {!Fourth_Answer_0}

Has Insured/Member completed all selections? Y/N : {!Fifth1_Answer_0}

Potential Supplement? Y/N: {!Sixth_Answer_0}

Repair Update Comments: {!RepairComments0}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <text>Project Note Flow :


Percent of Job Complete: {!firstanswer}%

Work/Trades started/completed since last week: {!secondAnswer} 

Work to be started this week: {!third1} 

Estimated completion date: {!Fourth_Answer}

Has Insured/Member completed all selections? Y/N : {!Fifth1_Answer}

Potential Supplement? Y/N: {!Sixth_Answer}

Repair Update Comments: {!RepairComments}</text>
    </textTemplates>
    <textTemplates>
        <name>Emailtext</name>
        <text>Project Note:  {!JobName.Job_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>yes</name>
        <text>Yes</text>
    </textTemplates>
    <variables>
        <name>CompletionDateStart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>EstimatedCompletionDateStart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>JobName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>MonicaId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OfficeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Office__c</objectType>
    </variables>
    <variables>
        <name>OfficeManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OfficeName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Office__c</objectType>
    </variables>
    <variables>
        <name>PercentCompleteStart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SusieDion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Yesvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>yes</elementReference>
        </value>
    </variables>
</Flow>
