metadata1/unpackaged/flows/Alert_PD_and_RM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>1086</locationX>
        <locationY>275</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_chatter_0</name>
        <label>Post to chatter</label>
        <locationX>1012</locationX>
        <locationY>553</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>CompletionDateorEstimate</name>
        <label>Project Manager is Not Blank</label>
        <locationX>543</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectManagerNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>projectmanager.Project_Manager_new__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_0</targetReference>
            </connector>
            <label>Project Manager is Not Blank</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MarketingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marketing_Type__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>priority1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yesorno1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Repairs_Needed__c</picklistField>
        <picklistObject>ATI_Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>yesorno2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Repairs_Needed__c</picklistField>
        <picklistObject>ATI_Job__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AnaheimName</name>
        <dataType>String</dataType>
        <expression>&quot;Anaheim&quot;</expression>
    </formulas>
    <formulas>
        <name>MonicaName</name>
        <dataType>String</dataType>
        <expression>&quot;Nat Lee&quot;</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Alert PD and RM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert PD and RM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBudgetRecord</name>
        <label>GetBudgetRecord</label>
        <locationX>233</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filters>
            <field>ATI_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Budget__c</object>
        <outputAssignments>
            <assignToReference>TotalAllocations.Total_Allocations__c</assignToReference>
            <field>Total_Allocations__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalBudgetGoal.Total_Budget_Goal__c</assignToReference>
            <field>Total_Budget_Goal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalProgramFees.Total_Program_Fees_New__c</assignToReference>
            <field>Total_Program_Fees_New__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>369</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CompletionDateorEstimate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuranceCarrier</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>job</name>
        <label>job</label>
        <locationX>23</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Office_lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ATI_Job__c</object>
        <outputReference>jobholder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Job_Record</name>
        <label>Job Record</label>
        <locationX>37</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>job</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ATI_Job__c</object>
        <outputAssignments>
            <assignToReference>Amount</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RM.Id</assignToReference>
            <field>Branch_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BudgetIdGet.Id</assignToReference>
            <field>Budget__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractCompletionDate.Completion_Date__c</assignToReference>
            <field>Completion_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>estimatedcompletiondate.Estimated_Completion_Date__c</assignToReference>
            <field>Estimated_Completion_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsuranceCarrier</assignToReference>
            <field>Insurance_Adjuster_Broker__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>office.Id</assignToReference>
            <field>Office2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectDirector.Id</assignToReference>
            <field>Project_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectmanager.Project_Manager_new__c</assignToReference>
            <field>Project_Manager_new__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalForecast</assignToReference>
            <field>Total_Billing_Forecast_Amount__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Office_lookup</name>
        <label>Office lookup</label>
        <locationX>249</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBudgetRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>office.Id</elementReference>
            </value>
        </filters>
        <object>Office__c</object>
        <outputAssignments>
            <assignToReference>officename.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OfficeManager.Id</assignToReference>
            <field>Office_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateJobEstimateCompletion</name>
        <label>UpdateJobEstimateCompletion</label>
        <locationX>819</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Post_to_chatter_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>CompletionDate_0</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobEstimateCompletion_0</name>
        <label>UpdateJobEstimateCompletion</label>
        <locationX>933</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>CompletionDate</elementReference>
            </value>
        </inputAssignments>
        <object>ATI_Job__c</object>
    </recordUpdates>
    <screens>
        <name>Questions</name>
        <label>Questions</label>
        <locationX>778</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateJobEstimateCompletion_0</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Questions:﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Question</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Start Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>First Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>secondQ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Completion Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompletionDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContractCompletionDate.Completion_Date__c</elementReference>
            </defaultValue>
            <fieldText>Second Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Third</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Brief Scope:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BriefScope</name>
            <fieldText>Third Answer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fourth</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Notes:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Fourth Answer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fifth</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Contact Info&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactInfo</name>
            <dataType>String</dataType>
            <fieldText>Fifth Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sixth</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Suggested PM:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedPM</name>
            <dataType>String</dataType>
            <fieldText>Sixth Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_0</name>
        <label>Questions</label>
        <locationX>551</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateJobEstimateCompletion</targetReference>
        </connector>
        <fields>
            <name>Display_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Questions:﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Question_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Start Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate_0</name>
            <dataType>Date</dataType>
            <fieldText>First Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>secondQ_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Completion Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompletionDate_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>estimatedcompletiondate.Estimated_Completion_Date__c</elementReference>
            </defaultValue>
            <fieldText>Second Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Third_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Brief Scope:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BriefScope_0</name>
            <fieldText>Third Answer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fourth_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Notes:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_0</name>
            <fieldText>Fourth Answer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fifth_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Contact Info&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactInfo_0</name>
            <dataType>String</dataType>
            <fieldText>Fifth Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Job_Record</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>Comments</name>
        <text>@[{!OfficeManager.Id}]
@[{!RM.Id}]
Insurance Carrier/TPA: {!ContactName}
Fees: {!TotalProgramFees.Total_Program_Fees_New__c}
Allocation: {!TotalAllocations.Total_Allocations__c}
Price: {!Amount}
Budget : {!TotalBudgetGoal.Total_Budget_Goal__c}
Start Date: {!StartDate}
Completion Date: {!CompletionDate}
Forecast: {!TotalForecast}
Brief Scope: {!BriefScope}
Notes: {!Notes}
Contact Info: {!ContactInfo}
Suggested PM: {!SuggestedPM}</text>
    </textTemplates>
    <textTemplates>
        <name>Comments_0</name>
        <text>@[{!OfficeManager.Id}]
@[{!RM.Id}]
Insurance Carrier/TPA: {!ContactName}
Fees: {!TotalProgramFees.Total_Program_Fees_New__c}
Allocation: {!TotalAllocations.Total_Allocations__c}
Price: {!Amount}
Budget : {!TotalBudgetGoal.Total_Budget_Goal__c}
Start Date: {!StartDate_0}
Completion Date: {!CompletionDate_0}
Forecast: {!TotalForecast}
Brief Scope: {!BriefScope_0}
Notes: {!Notes_0}
Contact Info: {!ContactInfo_0}</text>
    </textTemplates>
    <textTemplates>
        <name>yes</name>
        <text>Yes</text>
    </textTemplates>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BudgetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <name>BudgetIdGet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractCompletionDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>estimatedcompletiondate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>InsuranceCarrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobholder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>monicaId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>office</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Office__c</objectType>
    </variables>
    <variables>
        <name>OfficeManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>officemanagerNo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Office__c</objectType>
    </variables>
    <variables>
        <name>officename</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Office__c</objectType>
    </variables>
    <variables>
        <name>ProjectDirector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>projectmanager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATI_Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TotalAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <name>TotalBudgetGoal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <name>TotalForecast</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalProgramFees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <name>Yesvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>yes</elementReference>
        </value>
    </variables>
</Flow>
